html, body
{
	height: 100%;
	margin: 0;
	text-align: center;
}

.dialogue
{
	background-color: #00539c;
	max-width: fit-content;
	margin: auto;
}

.dialogue code
{
	color: white;
	display: block;
	text-align: left;
}

.overflow
{
	color: white;
	background-color: red;
}