html, body {
	height: 100%;
	margin: 0;
	text-align: center;
}

.dialogue-grid {
	/*display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: max-content;
	grid-auto-flow: dense;*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: start;
	justify-content: center;
}

.dialogue-list {
	display: inline-flex;
	flex-direction: column;
	align-items: start;
	background-color: lightgray;

	/* Spacing */
	margin: 0.25em;
	padding: 1em;
}

.dialogue-list h2 {
	margin: 0.25em;
	border-bottom: 3px solid black;
}

.dialogue {
	display: inline-block;
	min-height: 3lh;
	max-height: 3lh;
	background-color: #00539c;
	text-align: left;
	color: white;

	/* Spacing */
	margin: 0.25em;
}

.dialogue code {
	display: block;
	min-width: 50ch;
	max-width: 50ch;
	text-wrap: nowrap;
}

.dialogue.portrait code {
	min-width: 38ch;
	max-width: 38ch;
}

.dialogue span {
	background-color: red;
}

/* Any overflow lines (lines 5+) will automatically display as red. */
.dialogue code:nth-child(n + 5) {
	background-color: red;
}
